{% extends '_base.html' %}

{% import '_components.html' as components %}

{% block content %}
<div class="row vh-100 align-items-center justify-content-center">
    <div class="col-12 col-md-4 align-items-center">
        <i class="d-block fa fa-exclamation-triangle text-center text-warning fs-1 pb-3" aria-hidden="true"></i>
        <p class="fs-5 mx-auto text-center pb-3">
            Ups, no se encontró esta página
        </p>
        {{ components.brand(False) }}
    </div>
</div>
{% endblock %}