{% extends "_base.html" %}
{% block content %}
<h1 class="titulo">Resume</h1>
<div class="d-flex">
    <form>
         <div id="botones" class="container">
            <button id="Products" class="btn btn-lg" style="background-color: white;">
                <p style="color: gray;">Products</p> <h1>154</h1>
            </button>
            <button id="Providers" class="btn btn-lg" style="background-color: white;">
                <p style="color: gray;">Providers</p> <h1>34</h1>
            </button>
         </div>       
    </form>
</div>

{% endblock %}