{% extends '_base.html' %}

{% import '_components.html' as components %}

{% block content %}
    <div class="container-fluid">
        <div class="row vh-100">
            <!-- Sidebar -->
            {{ components.sidebar() }}
            <!-- Tab -->
            <div class="container p-0">
                {{ components.header('Products') }}
                <!-- Title bar -->

                <!-- Tab content -->
                <form action="/updatedproduct/{{product.id}}" method="post" class="py-3">
                    <div class="d-flex align-items-center">
                        <h2 class="title flex-fill" >{{ product.name }}</h2>
                        <input type="submit" class="btn btn-primary" value="Save Changes">
                    </div>
                    <!-- Name -->
                    {{ components.formField('form-name', 'Name','Name', product.name) }}
                    <!-- Description -->
                    <div class="row mb-3">
                        <p class="text-muted text-uppercase small fw-bold my-2"><small>
                            Description
                        </small></p>
                        <div class="col-12">
                            <input class="form-control" id="form-decription" rows="4" value="{{ product.description }}" name="Description"></input>
                        </div>
                    </div>
                    <!-- Minimun stock -->
                    {{ components.formField('form-minimun-stock', 'Minimun stock', 'MininumStock', product.minimum_stock) }}
                    <!-- Current stock -->
                    {{ components.formField('form-current-stock', 'Current stock', 'CurrentStock' , product.current_stock) }}
                    <!-- Providers -->
                    <div class="row mb-3">
                        <p class="text-muted text-uppercase small fw-bold my-2"><small>
                            Providers
                        </small></p>
                        <!-- Provider 1 -->
                        {% for provider in providers %}
                            {% if provider.product == product.name %}
                                <div class="row mb-3">
                                    <div class="col-12 col-md-6 mb-3 mb-md-0">
                                        <input type="text" class="form-control" id="form-provider1" value="{{ provider.name }}">
                                    </div>
                                    <div class="d-grid gap-2 col-12 col-md-4 align-items-center">
                                        <a href="/provider/{{provider['id']}}/delete" class="btn btn-danger btn-sm" type="button">Delete Provider</a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %} 
                        <!-- Add provider -->
                        <div class="d-grid gap-2 col-12 col-md-6">
                            <a href="/provider/new"class="btn btn-primary btn-sm" type="button">Add Provider</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}