{% extends '_base.html' %}

{% import '_components.html' as components %}

{% block content %}
<div class="container-fluid">
  <div class="row vh-100">
    {{ components.sidebar() }}
    <div class="container p-0">
      {{ components.header('Products') }}
      <div class="d-flex justify-content-between pt-4">
        <h3>{{product["name"]}}</h3>
        <div>
          <a type="button" class="btn btn-primary boton" href="/product/{{product['id']}}/edit">Edit Product</a>
          <button type="button" class="btn btn-primary boton" id="boton2" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete Product</button>    
        </div>
      </div>
      <div class="pt-4">
        <h6 class="font-14 labelpeque">DESCRIPTION</h6>
        <p class="font-12">{{product["description"]}}</p>
      </div>
      <div class="pt-4">
        <h6 class="font-14 labelpeque">MINIMUM STOCK</h6>
        <P class="font-12">{{product["minimum_stock"]}}</P>
      </div>
      <div class="pt-4">
        <h6 class="font-14 labelpeque">CURRENT STOCK</h6>
        <P class="font-12">{{product["current_stock"]}}</P>
      </div>
      <div class="pt-4">
        <h6 class="font-14 labelpeque">PROVIDERS</h6>
        <ul>
          {% for provider in providers %}
            {% if provider.product == product.name %}
              <li class="font-12">{{provider['name']}}</li>
            {% endif %}
          {% endfor %} 
        </ul>
      </div>
  </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content borde">
      <div class="modal-header justify-content-center border-0 p-0" >
        <label class="modal-title confirm" id="exampleModalLabel">Confirm Deletion</label>
      </div>
      <div class="modal-body fs-5 fw-normal " id="peque">
          Are you sure you want to <br> delete this product?
        </div>
        <div class="modal-footer border-0 d-block"> 
          <a href="/product/{{product['id']}}/delete" class="btn btn-primary botonventana fs-5 fw-bolder">DELETE</a>
          <button type="button" class="btn btn-secondary botonventana fs-5 fw-normal" id="botoncancel" data-bs-dismiss="modal" >CANCEL</button>
        </div>
    </div>
  </div>
</div>
{% endblock %}
