{% extends '_base.html' %}

{% import '_components.html' as components %}

{% block content %}
<div class="container-fluid">
  <div class="row vh-100">
    {{ components.sidebar() }}
    <div class="container p-0">
      {{ components.header('Products') }}
      <div class="d-flex justify-content-between pt-4">
        <h3>Muscle Car Model 77</h3>
        <div>
          <button type="button" class="btn btn-primary boton">Edit Product</button>
          <button type="button" class="btn btn-primary boton" id="boton2" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete Product</button>    
        </div>
      </div>
      <div class="pt-4">
        <h6 class="font-14 labelpeque">DESCRIPTION</h6>
        <p class="font-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut metus lacus. Nulla facilisi. Maecenas tellus sem, scelerisque ac eleifend eget, sollicitudin id lectus. Donec in quam a mi lacinia lobortis. In hac habitasse platea dictumst. Curabitur nec nisl at risus varius tincidunt id eu nulla. Aliquam elementum vitae est sit amet semper. Ut lectus arcu, sollicitudin eu mi a, tincidunt scelerisque ligula. Aenean ac quam eget lorem convallis finibus ut vel risus. Suspendisse ac lacinia mauris.</p>
      </div>
      <div class="pt-4">
        <h6 class="font-14 labelpeque">MINIMUM STOCK</h6>
        <P class="font-12">1</P>
      </div>
      <div class="pt-4">
        <h6 class="font-14 labelpeque">CURRENT STOCK</h6>
        <P class="font-12">3</P>
      </div>
      <div class="pt-4">
        <h6 class="font-14 labelpeque">PROVIDERS</h6>
        <ul>
          <li class="font-12">Santorini</li>
          <li class="font-12">Pantoja</li>
          <li class="font-12">Hermanos Hernandez</li>
          <li class="font-12">Cali Motors</li>
        </ul>
      </div>
  </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content borde">
      <div class="modal-header justify-content-center border-0 p-0" >
        <label class="modal-title confirm" id="exampleModalLabel">Confirm Deletion</label>
      </div>
      <div class="modal-body fs-5 fw-normal " id="peque">
          Are you sure you want to <br> delete this product?
        </div>
        <div class="modal-footer border-0 d-block"> 
          <button type="button" class="btn btn-primary botonventana fs-5 fw-bolder"  >DELETE</button>
          <button type="button" class="btn btn-secondary botonventana fs-5 fw-normal" id="botoncancel" data-bs-dismiss="modal" >CANCEL</button>
        </div>
    </div>
  </div>
</div>
{% endblock %}
