{% extends '_base.html' %}

{% import '_components.html' as components %}

{% block content %}

<div class="container-fluid">
    <div class="row vh-100">
        {{ components.sidebar() }}
        <div class="container p-0">
            {{ components.header('Products') }}
            <div class="d-flex justify-content-center m-0">
                <form action="/savedproduct" method="post" class="pt-140px">
                    <label>
                        NAME
                    </label>
                    <br>
                    <input size="46.7" type="text" placeholder="Product name" id="name2" name="Name">
                    <br>
                    <label id="idname2"></label> 
                    <br>
                    <label>
                        DESCRIPTION
                    </label>
                    <br>
                    <input size="46.7" type="text" placeholder="Product description" name="Description">
                    <br>
                    <br>
                    <label>
                        MINIMUM STOCK
                    </label>
                    <br>
                    <input size="46.7" type="text" placeholder="Mininum stock" id="minimo" name="MininumStock">
                    <br>
                    <label id="idminimo"></label> 
                    <br>

                    <label>
                        CURRENT STOCK
                    </label>
                    <br>
                    <input size="46.7" type="text" placeholder="Mininum stock" id="minimo" name="CurrentStock">
                    <br>
                    <label id="idminimo"></label> 
                    <br>
                    <div class="d-grid gap-2 col-12">
                        <input type="submit" class="btn btn-primary" value="Create new product" onclick="validacionmin()">
                    </div>            
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}