{% extends '_base.html' %}

{% import '_components.html' as components %}

{% block content %}
<div class="container-fluid">
  <div class="row vh-100">
    {{ components.sidebar() }}
    <div class="container p-0">
      {{ components.header('Providers') }}
      <div class="d-flex justify-content-between pt-4">
        <h3>{{provider.name}}</h3>
        <div>
          <button type="button" class="btn btn-primary boton">Edit Provider</button>
          <button type="button" class="btn btn-primary boton" id="boton2" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete Provider</button>    
        </div>
      </div>
      <div class="pt-4 mt-4">
        <h6 class="font-14 labelpeque">Products</h6>
        <ul>
          <li class="font-12">{{provider.product}}</li>
        </ul>
      </div>
      <div class="pt-4 mt-4">
        <h6 class="font-14 labelpeque">EMAIL</h6>
        <P class="font-12">{{provider.email}}</P>
      </div>
      <div class="pt-4 mt-4">
        <h6 class="font-14 labelpeque">CONTACT NUMBER</h6>
        <P class="font-12">{{provider.contact_number}}</P>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content borde">
      <div class="modal-header justify-content-center border-0 p-0" >
        <label class="modal-title confirm" id="exampleModalLabel">Confirm Deletion</label>
      </div>
      <div class="modal-body fs-5 fw-normal " id="peque">
          Are you sure you want to <br> delete this provider?
        </div>
        <div class="modal-footer border-0 d-block"> 
          <a href="/provider/{{provider['id']}}/delete" class="btn btn-primary botonventana fs-5 fw-bolder">DELETE</a>
          <button type="button" class="btn btn-secondary botonventana fs-5 fw-normal" id="botoncancel" data-bs-dismiss="modal" >CANCEL</button>
        </div>
    </div>
  </div>
</div>
{% endblock %}
