{% extends '_base.html' %}

{% import '_components.html' as components %}

{% block content %}

<div class="container-fluid">
    <div class="row vh-100">
        {{ components.sidebar() }}
        <div class="container p-0"> 
            {{ components.header('Providers') }}
            <div class="d-flex justify-content-center m-0">       
                <form action="/savedprovider" method="post" class="pt-140px">
                    <label>
                        NAME
                    </label>
                    <br>
                    <input size="46.7" type="text" placeholder="Provider's name" id="name3" name="NameProvider">
                    <br>
                    <label id="idname3"></label>
                    <br>
                    <label>
                        PRODUCT
                    </label>
                    <br>
                    <input size="46.7" type="text" placeholder="Product Provided" id="producto" name="Product">
                    <br>
                    <label id="idproducto"></label>
                    <br>
                    <label>
                        EMAIL
                    </label>
                    <br>
                    <input size="46.7" type="email" placeholder="Provider's Email" id="email3" name="EmailProvider">
                    <br>
                    <label id="idemail3"></label>
                    <br>
                    <label>
                        CONTACT NUMBER
                    </label>
                    <br>
                    <input size="46.7" type="text" placeholder="Provider's Number" id="numero" name="ContactNumber">
                    <br>
                    <label id="idnumero"></label>
                    <br>
                    <br>
                    <div class="d-grid gap-2 col-12">
                        <input type="submit" class="btn btn-primary" value="Create new provider" onclick="validacionpro()">
                    </div>
                </form>
            </div> 
        </div>
    </div>
</div>

{% endblock %}

