{% extends '_base.html' %}

{% import '_components.html' as components %}

{% block content %}
<div class="container-fluid">
    <div class="row vh-100">
        {{ components.sidebar() }}
        <div class="container p-0">
            {{ components.header('Products') }}
            {{ components.flashMessage() }}
              <h2 class="font-40 py-4">Search Result ...</h2>
              <button type="button" class="btn btn-primary btn-lg">Create New Product</button>
            <div class="result-boxes d-flex justify-content-between flex-wrap">
              {% for product in products %}
                <a class="card mt-4" href="/product/{{product.id}}/detail">
                  <div class="card-body">
                    <h5 class="card-title">{{product["name"]}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{product["description"]}}</h6>
                  </div>
                </a>
              {% endfor %} 
            </div>

        </div>
    </div>
</div>
    
{% endblock %}