{% extends '_base.html' %}

{% import '_components.html' as components %}

{% block content %}
<div class="container-fluid">
    <div class="row vh-100">
        {{ components.sidebar() }}
        <div class="container p-0">
            {{ components.header('Providers') }}
            {{ components.flashMessage() }}
            <h2 class="font-40 py-4">Search Result ...</h2>
            
            <div class="result-boxes d-flex justify-content-between flex-wrap">
              {% for provider in providers %}
                <a class="card mt-4" href="/provider/detail">
                  <div class="card-body">
                    <h5 class="card-title">{{provider["name"]}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{provider["product"]}}</h6>
                  </div>
                </a>
              {% endfor %} 
            </div>
        </div>
    </div>
</div>

{% endblock %}